$day-color: #eee;
$hovered-day-color: #ffbfcb;
$column-side: 100px;
$gap-between-days: 1px;
$days-in-row: 7;
$cal-p: 10px;
$days-to-fit: $days-in-row * ($column-side + $gap-between-days) + 2 * $cal-p;
